<style>
  :host {
    display: flex;
    --default-header-bg-color: #eeeeee;
    --default-header-separator-color: #e0e0e0;
    --default-content-bg-color: #e1d8cf;
  }

  main {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
  }

  .header {
    display: flex;
    height: 59px;
    align-items: center;
    padding: 0px 10px;
    background-color: var(--header-bg-color, var(--default-header-bg-color));
    border-left: 1px solid var(--header-separator-color, var(--default-header-separator-color));
  }

  .header h1 {
    font-size: 100%;
    padding: 0;
    margin: 0;
    padding-left: 15px;
  }

  .body {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    background-color: var(--content-bg-color, var(--default-content-bg-color));
    padding-top: 5px;
  }

  article {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
  }

  article section {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
  }

  .footer {
    display: flex;
    min-height: 62px;
    background-color: #f5f1ee;
    padding: 5px 10px;
    position: relative;
  }

  .textarea {
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px #666;
    padding: 10px;
    background: white;
    cursor: text;
    display: flex;
    height: 100%;
    flex-grow: 1;
    outline: none;
  }

  .placeholder {
    color: #a4a4a4;
    font-size: 15px;
    line-height: 20px;
    pointer-events: none;
    position: absolute;
    top: 20px;
    left: 27px;
    transition: opacity 0.08s linear;
    user-select: none;
    z-index: 2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .hidden {
    visibility: hidden;
  }
</style>

<main>
  <div class="header">
    <app-avatar width="40" height="40" img-src="https://rickandmortyapi.com/api/character/avatar/1.jpeg"></app-avatar>
    <h1>Title</h1>
  </div>
  <div class="body">
    <article>
      <section>
        <app-message text="hey" type="received"></app-message>
      </section>
      <section>
        <app-message text="hey, sup?" type="sent"></app-message>
      </section>
    </article>
  </div>
  <div class="footer">
    <div class="placeholder">Type a message</div>
    <div contenteditable="true" class="textarea"></div>
  </div>
</main>
