<style>
  :host {
    display: flex;
    height: 100%;
  }

  .wrapper {
    padding: 10px 25px;
    display: flex;
    width: 100%;
    align-items: center;
  }

  app-avatar {
    display: block;
  }

  .title {
    padding-left: 13px;
    height: 20px;
    display: block;
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
</style>

<div class="wrapper">
  <app-avatar width="40" height="40" img-src="" alt=""></app-avatar>
  <div class="title"></div>
</div>
